body {
  background-color: #e6e8ee;
  display: flex;
  height: 600px;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#app {
  width: 1150px;
  height: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
}
.title {
  font: 1em sans-serif;
  font-weight: bold;
}
.avaContainer {
  display: flex;
}
.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%; /* Set the border radius to 50% to create a circular border */
  border: 2px solid #ccc;
  overflow: hidden;
}
.avatar img {
  width: 100%; /* Make the image fill the entire container */
  height: 100%; /* Make the image fill the entire container */
  object-fit: cover;
}
.upload-btn {
  background-color: #0ec75c; /* Set the background color to green (#0EC75C) */
  color: white; /* Set the text color to white */
  margin: 10px;
  text-align: center;
  width: 175px;
  padding: 5px 10px; /* Add some padding to the button for better appearance */
  font-size: 16px; /* Set the font size */
  border: none; /* Remove the default button border */
  border-radius: 5px; /* Add rounded corners to the button */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
}
.reset-btn {
  background-color: #ccc; /* Set the background color to green (#0EC75C) */
  color: white; /* Set the text color to white */
  margin: 10px;
  text-align: center;
  width: 175px;
  padding: 5px 10px; /* Add some padding to the button for better appearance */
  font-size: 16px; /* Set the font size */
  border: none; /* Remove the default button border */
  border-radius: 5px; /* Add rounded corners to the button */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
}
.reset-btn:hover {
  background-color: #e6e8ee; /* Change the background color on hover (#0BB94D) */
}
.upload-btn:hover {
  background-color: #0bb94d; /* Change the background color on hover (#0BB94D) */
}
.avaContainer .text {
  margin: 10px;
}
.mail-section {
  border: 2px solid #ccc;
  padding: 2px; /* Add padding to the section to create space around the content */
  display: flex; /* Use flexbox to arrange the icon and address side by side */
  align-items: center; /* Center the items vertically */
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Style the icon */
.mail-section .icon img {
  width: 40px; /* Set the width of the icon (adjust as needed) */
  height: 40px; /* Set the height of the icon (adjust as needed) */
}

/* Style the address */
.mail-section .address {
  margin-left: 20px; /* Add some space between the icon and the address */
}
.specContainer {
  height: 100px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;

}
.option-bar {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-end;
}
.option {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.genContainer{
  margin-top: 15px;
  height: 100px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
}